<%- include('./partials/main') %>
<div style="padding: 30 px;">
<h1 >¡Bienvenido <b><%= name %></b>!</h1>
<center>
<img style="width: 500px; height: 500px;" src="/img/logo.jpg" alt="">
</center>
</div>