#Contenedor{
    background-color: wheat;
}

h2{
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 40px;
}

h3{
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 30px;
}

p{
    font-family: 'Century Gothic';
    font-size: 20px;
}

li{
    font-family: 'Century Gothic';
    font-size: 20px;
}

#Info{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.seccionA{
    
}

#cuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

#Sub-cuadro{
    margin: 10px;
    background-color: rgb(211, 181, 125);
}