<%- include('./partials/main') %>
<form action="">
    <div>
        <label for="">Nombre</label>
        <input type="text" name="nom" id="nom">
        <label for="">telefono</label>
        <input type="text" name="tele" id="tele">
        <label for="">Direccion</label>
        <input type="text" name="di" id="di">
        <label for="">Opninion/queja</label>
        <textarea name="opi" id="opi" cols="30" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">Enviar</button>
        <button type="reset">Limpiar</button>
    </div>
</form>