<%- include('./partials/main') %>
<div id="Contenedor">
    <div id="Info">
        <h2> Nosotros </h2>
        <p>
            Somos una empresa que maneja y se dedica expresamente a la panadería y en algunas celulas de nuestros 
            negocios a la repostería. Nos especializamos en la panadería y líderamos el mercado local debido a nuestro 
            gran enfoque en la calidad de nuestros productos y también en nuestra atención enfocada a los consumidores, 
            pues al final estos son los que nos mantienen a flote. Dominamos el arte de la panadería a un nivel en el 
            que hemos podido desarrollar recetas capaces de encantar a cualquier paladar.
        </p>
        <img src="" alt="Imagen generica de empresa de panes xD">
    </div>
    <div id="Info">
        <div id="Sub-cuadro">
            <h3>Mision</h3>
            <p>
                La misión de una panadería puede ser algo como esto: "Proporcionar productos de panadería frescos y 
                deliciosos a nuestros clientes, utilizando ingredientes de alta calidad y técnicas de cocción 
                tradicionales para ofrecer una experiencia auténtica y satisfactoria en cada visita".
            </p>
        </div>
        <div id="Sub-cuadro">
            <h3>Vision</h3>
            <p>
                La visión de una panadería puede ser algo como esto: "Ser la panadería líder en nuestra comunidad, 
                reconocida por nuestros productos excepcionales y nuestro servicio al cliente excepcional, y mantener un 
                compromiso constante con la innovación y la mejora continua para mantenernos a la vanguardia de la 
                industria de la panadería".
            </p>
        </div>
    </div>
    <div>
        <h2>Nuestros valores</h2>
        <ul>
            <li>Calidad de los productos: ofrecer panes y pasteles hechos con ingredientes frescos y de alta calidad.</li>
            <li>Servicio al cliente: brindar un servicio amable y atento a los clientes para satisfacer sus necesidades y preferencias.</li>
            <li>Frescura: asegurar que los productos estén recién horneados y disponibles para los clientes.</li>
            <li>Variedad: ofrecer una amplia selección de panes y pasteles para satisfacer las necesidades y preferencias de los clientes.</li>
            <li>Tradición: mantener y promover las tradiciones de la panadería, tanto en la elaboración como en los productos ofrecidos.</li>
            <li>Innovación: estar en constante evolución y mejora en los productos y servicios ofrecidos.</li>
            <li>Sostenibilidad: promover prácticas sostenibles en la elaboración y distribución de los productos.</li>
        </ul>
    </div>
</div>