<%- include('../partials/main') %>
    <div id="Contenedor">
        <div id="Info">

              <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item acctive">
                    <img class="imgNosotros" src="/img/panaderia.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="imgNosotros" src="/img/panesNosotros.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="imgNosotros" src="/img/panesNosotros1.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>

            <div >
                <h2> DOLCE PAN </h2>
                <hr>
                <p>
                    Somos una empresa que maneja y se dedica a la panadería y repostería. Nuestro
                    gran enfoque es la calidad de nuestros productos y también en nuestra atención enfocada a los
                    consumidores. Dominamos el arte de la panadería a un nivel
                    en el
                    que hemos podido desarrollar recetas capaces de encantar a cualquier paladar.
                </p>
                
            </div>
        </div>

        <div id="Info">
            <div id="cuadro">
                <div id="Sub-cuadro">
                    <h3>Mision</h3>
                    <p >
                        Proporcionar productos de panadería
                        frescos y
                        deliciosos, utilizando ingredientes de alta calidad y técnicas de cocción
                        tradicionales para ofrecer una experiencia auténtica y satisfactoria a cada visita.
                    </p>
                </div>
                <div id="Sub-cuadro">
                    <h3>Vision</h3>
                    <p >
                        Ser la panadería líder en nuestra
                        comunidad,
                        reconocida por nuestros productos excepcionales y nuestro servicio al cliente, 
                        manteniendo un
                        compromiso constante con la innovación y la mejora continua para mantenernos a la vanguardia de
                        la
                        industria de la panadería".
                    </p>
                </div>
            </div>
        </div>
        <div id="Info">
            <h2>Nuestros valores</h2>
            <ul>
                <li>Calidad de los productos: ofrecer panes y pasteles hechos con ingredientes frescos y de alta
                    calidad.</li>
                <li>Servicio al cliente: brindar un servicio amable y atento a los clientes para satisfacer sus
                    necesidades y preferencias.</li>
                <li>Frescura: asegurar que los productos estén recién horneados y disponibles para los clientes.</li>
                <li>Variedad: ofrecer una amplia selección de panes y pasteles para satisfacer las necesidades y
                    preferencias de los clientes.</li>
                <li>Tradición: mantener y promover las tradiciones de la panadería, tanto en la elaboración como en los
                    productos ofrecidos.</li>
                <li>Innovación: estar en constante evolución y mejora en los productos y servicios ofrecidos.</li>
                <li>Sostenibilidad: promover prácticas sostenibles en la elaboración y distribución de los productos.
                </li>
            </ul>
        </div>
    </div>