<%- include('../partials/main') %>
    <div class="row" id="cards" style="margin: 1%"></div>
    <h4 style="margin: 1%">Carrito de compras</h4>
    <table class="table" style="margin: 1%">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Acción</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody id="items"></tbody>
      <tfoot>
        <tr id="footer">
          <th scope="row" colspan="5">Carrito vacío - ¡Parece que no hay productos disponibles!</th>
        </tr>
      </tfoot>
    </table>

  <template id="template-footer">
    <th scope="row" colspan="2">Total productos</th>
    <td></td>
    <td>
      <label for="metodo-pago">Método de pago:</label>
      <select id="metodo-pago" name="metodo-pago">
        <option value="tarjeta">Tarjeta de crédito</option>
        <option value="paypal">PayPal</option>
        <option value="transferencia">Transferencia bancaria</option>
      </select>
    </td>
    <td>
      <button class="btn btn-danger btn-sm" id="vaciar-carrito">
        Vaciar carrito
      </button>
    </td>
    <td><button type="button" class="btn btn-success" onclick="comprar()" >Comprar</button></td>
    <td class="font-weight-bold">$<span>5000</span></td>
  </template>

  <template id="template-carrito">
    <tr>
      <th scope="row">id</th>
      <td>Café</td>
      <td>Descripcion</td>
      <td>1</td>
      <td>
        <button class="btn btn-info btn-sm">
          +
        </button>
        <button class="btn btn-danger btn-sm">
          -
        </button>
      </td>
      <td> <span>500</span></td>
    </tr>
  </template>
  <template id="template-card">
        <div class="col-sm-2 mb-6 py-3" style="padding: 20px;">
          <div class="card h-100 border-dark bg-light" >
        <img class="card-img-top">
        <div class="card-body" >
          <span>Nombre: </span>
          <h5 class="card-title">Nombre</h5>
          <span>Desc: </span>
          <p class="card-text" style="margin: -10px;" id="">Descripcion</p>
          <span>Precio: </span>
          <p class="card-text" style="margin: -10px;" id=""></p>
          <span>Stock: </span>
          <p class="card-text" style="margin: -10px;" id=""></p>
          <button class="btn btn-dark" style="margin-top: 1px;">Añadir al carrito</button>
        </div>
  </template>
</div>

<!-- Button trigger modal -->


  <script src="/js/mainCarrito.js"></script>